absl-py==0.11.0
aif360==0.4.0
alabaster==0.7.12
alembic==1.5.5
alphaVantage-api==1.0.19
altair==4.1.0
anndata==0.7.5
arrow==1.1.0
arviz==0.11.1
aspect-based-sentiment-analysis==2.0.2
astroid==2.5.6
asttokens==2.0.4
astunparse==1.6.3
async-generator==1.10
autobahn==21.2.1
autograd==1.3
Automat==20.2.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
binaryornot==0.4.4
bitarray==1.2.1
BlackBoxAuditing==0.1.54
blis==0.7.4
bokeh==2.3.0
boto3==1.17.12
botocore==1.20.12
bpemb==0.3.2
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
bunch==1.0.1
cachetools==4.2.1
catalogue==2.0.1
catboost==0.25.1
category-encoders==2.2.2
causalgraphicalmodels==0.0.4
causallib==0.6.0
certifi==2021.5.30
cftime==1.4.1
choix==0.3.3
click==7.1.2
cliff==3.7.0
cloudpickle==1.6.0
cma==2.7.0
cmaes==0.8.2
cmd2==1.5.0
cmdstanpy==0.9.5
coloredlogs==15.0
colorlog==4.7.2
colorlover==0.3.0
commonmark==0.9.1
constantly==15.1.0
convertdate==2.3.2
cookiecutter==1.7.2
cryptocmd==0.6.0
cryptography==2.9.2
cupy-cuda110==8.5.0
cvxopt==1.2.6
cvxpy==1.1.11
cycler==0.10.0
cymem==2.0.5
Cython==0.29.17
daft==0.1.0
dash==1.20.0
dash-bootstrap-components==0.12.2
dash-core-components==1.16.0
dash-cytoscape==0.3.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.11
descartes==1.1.0
dfencoder==0.0.35
dgl-cu101==0.7a210409
dice-ml==0.6.1
dill==0.3.3
dm-tree==0.1.5
dowhy==0.6
econml==0.10.0
ecos==2.0.7.post1
editdistance==0.5.3
emoji==1.2.0
executing==0.5.4
fairlearn==0.6.2
fancyimpute==0.5.5
fastprogress==1.0.0
fastrlock==0.5
feather-format==0.4.1
feedparser==6.0.2
filelock==3.0.12
findiff==0.8.9
flair==0.8.0.post1
Flask==1.1.2
Flask-Compress==1.9.0
Flask-SeaSurf==0.3.0
flatbuffers==1.12
ftfy==5.9
future==0.18.2
gast==0.3.3
gdown==3.12.2
gensim==3.8.3
geomloss==0.2.4
get-version==2.1
gevent==21.1.2
google-api-core==1.26.0
google-api-python-client==2.6.0
google-auth==1.27.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
google-cloud-core==1.6.0
google-cloud-storage==1.36.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
graphviz==0.16
greenlet==1.1.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
hijri-converter==2.1.1
holidays==0.10.5.2
httplib2==0.19.1
huggingface-hub==0.0.6
humanfriendly==9.1
hyperlink==21.0.0
hyperopt==0.2.5
icecream==2.1.0
incremental==17.5.0
iniconfig==1.1.1
interpret==0.2.4
interpret-core==0.2.4
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
isort==5.8.0
iterative-stratification==0.1.6
itsdangerous==1.1.0
Janome==0.4.1
jax==0.2.10
jaxlib==0.1.62+cuda110
jellyfish==0.8.2
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==0.10.0
kaggle==1.5.12
Keras==2.4.3
Keras-Preprocessing==1.1.2
keybert==0.2.0
kiwisolver==1.3.1
knnimpute==0.1.0
konoha==4.6.4
korean-lunar-calendar==0.2.1
langdetect==1.0.7
lazy-object-proxy==1.6.0
legacy-api-wrap==1.2
lightgbm==3.2.1
lime==0.2.0.1
llvmlite==0.36.0
LunarCalendar==0.0.9
Mako==1.1.4
Markdown==3.3.3
matplotlib==3.3.4
mccabe==0.6.1
memory-profiler==0.58.0
miceforest==2.0.3
missingpy==0.2.0
mizani==0.7.2
mpl-finance==0.10.1
mpld3==0.3
mpmath==1.2.1
mrakun==0.44
multitasking==0.0.9
murmurhash==1.0.5
mypy==0.812
mypy-extensions==0.4.3
natsort==7.1.1
netCDF4==1.5.5.1
networkx==2.5
neuralnet-pytorch==0.0.3
nltk==3.5
nodeenv==1.5.0
numba==0.53.0
numexpr==2.7.3
numpy==1.20.3
numpyro==0.5.0
oauth2client==4.1.3
oauthlib==3.1.0
onnx==1.8.1
onnxruntime==1.7.0
onnxruntime-gpu==1.7.0
onnxruntime-tools==1.6.0
opencv-python==4.5.1.48
openpyxl==3.0.7
opt-einsum==3.3.0
optuna==2.5.0
ordered-set==4.0.2
osqp==0.6.2.post0
overrides==3.1.0
palettable==3.3.0
pandas==1.1.5
pandas-bokeh==0.5.4
pandas-datareader==0.9.0
pandas-ta==0.2.45b0
pandocfilters==1.4.2
parity-fairness==0.1.30
pathlib2==2.3.5
pathy==0.4.0
patsy==0.5.1
pbr==5.5.1
Pillow==7.2.0
plac==1.1.3
plotly==4.14.3
plotnine==0.7.1
pluggy==0.13.1
pmdarima==1.8.0
poyo==0.5.0
preshed==3.0.5
prettytable==2.0.0
protobuf==3.14.0
psutil==5.8.0
py==1.10.0
py-cpuinfo==7.0.0
py3nvml==0.2.6
py3plex==0.94
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybinance==0.0.1
pybullet==3.0.8
pydantic==1.7.3
pydot==1.4.2
pyglet==1.5.0
PyHamcrest==2.0.2
PyLaTeX==1.4.1
pylint==2.8.2
pymc3==3.11.0
PyMeeus==0.5.11
pymongo==3.11.1
pymoo==0.4.2.1
pynndescent==0.5.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
pyresume==0.1.3
pyro-api==0.1.2
pyro-ppl==1.6.0
pyserial==3.5
pysmile==0.2
pystan==2.19.1.1
pytest==6.2.2
python-binance==0.7.9
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
python-slugify==5.0.0
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==20.0.0
qdldl==0.1.5.post0
qtconsole==5.1.0
QtPy==1.9.0
rake-nltk==1.0.4
rdflib==5.0.0
recommonmark==0.7.1
regex==2020.11.13
repackage==0.5
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.1
s3transfer==0.3.4
sacremoses==0.0.43
SALib==1.3.13
scanpy==1.7.2
scikit-image==0.18.1
scikit-learn==0.23.2
scikit-uplift==0.3.1
scipy==1.5.4
scs==2.1.2
seaborn==0.11.1
segtok==1.5.10
Send2Trash==1.5.0
sentence-transformers==0.4.1.2
sentencepiece==0.1.95
service-identity==18.1.0
setuptools-git==1.2
sgmllib3k==1.0.0
shap==0.38.1
sinfo==0.3.1
sip==4.19.13
sklearn==0.0
skope-rules==1.0.1
sktime==0.5.3
slicer==0.0.7
smart-open==3.0.0
soupsieve==2.2
spacy==3.0.5
spacy-langdetect==0.1.2
spacy-legacy==3.0.1
sparse==0.12.0
sphinx-gallery==0.9.0
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder-kernels==1.10.1
SQLAlchemy==1.3.23
sqlitedict==1.7.0
srsly==2.4.0
statsmodels==0.12.2
stdlib-list==0.8.0
stevedore==3.3.0
sty==1.0.0rc1
summa==1.2.0
sympy==1.7.1
ta==0.7.0
tabgan==1.0.7
tables==3.6.1
tablib==3.0.0
tabulate==0.8.9
tb-nightly==2.5.0a20210309
tempeh==0.1.12
tensorboard==2.4.1
tensorboard-data-server==0.3.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow==2.4.1
tensorflow-addons==0.12.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.1
termcolor==1.1.0
testfixtures==6.17.1
testpath==0.4.4
text-unidecode==1.3
text2emotion==0.0.5
textblob==0.15.3
tf-estimator-nightly==2.5.0.dev2021030901
tf-nightly-gpu==2.5.0.dev20210309
Theano-PyMC==1.1.0
themis-ml==0.0.4
thinc==8.0.2
thonny==3.3.7
tifffile==2021.3.17
timeloop==1.0.2
tokenizers==0.10.1
toml==0.10.2
toolz==0.11.1
torch==1.8.1
torchaudio==0.8.1
torchdiffeq==0.2.2
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.9.1+cu111
tqdm==4.59.0
transformers==4.3.2
treeinterpreter==0.2.3
trendln==0.1.10
Twisted==20.3.0
txaio==20.12.1
typed-ast==1.4.3
typeguard==2.11.1
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.2
umap-learn==0.5.1
unicodecsv==0.14.1
Unidecode==1.2.0
uritemplate==3.0.1
visdom==0.1.8.9
wasabi==0.8.2
watermark==2.1.0
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
witwidget==1.8.0
wordcloud==1.8.1
wrapt==1.12.1
wurlitzer==2.0.1
xarray==0.16.2
xgboost==1.3.3
xlrd==2.0.1
xmltodict==0.12.0
yake==0.4.5
yfinance==0.1.55
zepid==0.9.0
zope.event==4.5.0
zope.interface==5.2.0
